{% extends "templates/layout.html" %}
{% block content %}
<h1>Edit Game</h1>
<form method=POST action='/admin/game'>
<input type=hidden name="game" value="{{game.key().id()}}"></input>
<h3>Dedication vs <input type=text name="opposition" value="{{game.opposition}}"></input></h3>
<label for="dedication-score">Dedication score</label> <input type=text name="dedication-score" value="{{game.score}}"></input><br />
<label for="opposition-score">Opposition score</label> <input type=text name="opposition-score" value="{{game.opposition_score}}"></input><br />
<label for="completed">Game completed</label> <input type=checkbox name="completed" {% if game.played %}checked{% endif %}></input><br />
<label for="result">Result</label> <select name="result">
  <option value=win {% if game.result=='win' %}selected{% endif %}>Win</option>
  <option value=loss {% if game.result=='loss' %}selected{% endif %}>Loss</option>
  <option value=tie {% if game.result=='tie' %}selected{% endif %}>Tie</option>
</select><br />
<input type=submit value="Save Changes"></input>
<h2>Batting</h2>
<table>
<tr><th></th><th>Player</th><th>Batted?</th><th>Runs</th><th>Not Out?</th><th>Balls</th><th>Fours</th><th>Sixes</th><th>How Out</th></tr>
{% for i in range(1,12) %}
{% set b=batting_order[i-1] %}
{% set disp=b and b.batted %}
<tr>
  <td>{{i}}</td>
  <td><select name="batsman-{{i}}">
    <option value="0"></option>
    {% for p in players %}<option value={{p.key().id()}} {% if disp and b.player.key()==p.key()%}selected{% endif %}>{{p.first_name}} {{p.surname}}</option>
    {% endfor %}
  </select></td>
  <td><input type=checkbox name="batsman-{{i}}-batted"{% if disp %}checked{% endif %}></input></td>
  <td><input type=text name="batsman-{{i}}-runs" value={% if disp %}{{b.runs}}{% else %}0{% endif %}></input></td>
  <td><input type=checkbox name="batsman-{{i}}-not_out" {% if disp and b.not_out %}checked{% endif %}></input></td>
  <td><input type=text name="batsman-{{i}}-balls" value={% if disp %}{{b.balls_faced}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="batsman-{{i}}-fours" value={% if disp %}{{b.fours_hit}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="batsman-{{i}}-sixes" value={% if disp %}{{b.sixes_hit}}{% else %}0{% endif %}></input></td>
  <td><select name="batsman-{{i}}-how_out">
    <option value=""></option>
    {% for d in dismissal_types %}<option value={{d|replace(" ","-")}} {% if disp and b.how_out==d %}selected{% endif %}>{{d}}</option>{% endfor %}
  </select></td>
</tr>
{% endfor %}
</table>
<input type=submit value="Save Changes"></input>
<h2>Bowling</h2>
<table>
<tr><th></th><th>Player</th><th>Bowled?</th><th>Overs</th><th>Maidens</th><th>Runs</th><th>Wickets</th><th>Wides</th><th>No Balls</th><th>Fours</th><th>Sixes</th></tr>
{% for i in range(1,12) %}
{% set b=bowling_order[i-1] %}
{% set disp=(b and b.bowled) %}
<tr>
  <td>{{i}}</td>
  <td><select name="bowler-{{i}}">
    <option value="0"></option>
    {% for p in players %}<option value={{p.key().id()}} {% if disp and b.player.key()==p.key() %}selected{% endif %}>{{p.first_name}} {{p.surname}}</option>
    {% endfor %}
  </select></td>
  <td><input type=checkbox name="bowler-{{i}}-bowled" {% if disp %}checked{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-overs" value={% if disp %}{{b.overs}}.{{b.balls}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-maidens" value={% if disp %}{{b.maidens}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-runs" value={% if disp %}{{b.runs_conceded}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-wickets" value={% if disp %}{{b.wickets}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-wides" value={% if disp %}{{b.wides}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-no_balls" value={% if disp %}{{b.no_balls}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-fours" value={% if disp %}{{b.fours}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="bowler-{{i}}-sixes" value={% if disp %}{{b.sixes}}{% else %}0{% endif %}></input></td>
</tr>
{% endfor %}
</table>
<input type=submit value="Save Changes"></input>
<h2>Fielding</h2>
<table>
<tr><th>Player</th><th>Catches</th><th>Run Outs</th><th>Misfields</th><th>Dropped Catches (Normal)</th><th>Diving Drops</th><th>Non-attempts</th><th>Other</th>
{% for i in range(1,13) %}
{% set f=fielders[i-1] %}
<tr>
  <td><select name="fielder-{{i}}">
    <option value="0"></option>
    {% for p in players %}<option value={{p.key().id()}} {% if f and f.player.key()==p.key() %}selected{% endif %}>{{p.first_name}} {{p.surname}}</option>
    {% endfor %}
  </select></td>
  <td><input type=text name="fielder-{{i}}-catches" value={% if f %}{{f.catches}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-run_outs" value={% if f %}{{f.run_outs}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-misfields" value={% if f %}{{f.misfields}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-drops" value={% if f %}{{f.drops}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-diving" value={% if f %}{{f.diving_drops}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-non_attempts" value={% if f %}{{f.non_attempts}}{% else %}0{% endif %}></input></td>
  <td><input type=text name="fielder-{{i}}-other" value={% if f %}{{f.other}}{% else %}0{% endif %}></input></td>
</tr>
{% endfor %}
</table>
<input type=submit value="Save Changes"></input>
</form>
{% endblock %}